.element {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.element .overlap-group-wrapper {
    background-color: #e5e5e5;
    width: 1512px;
    height: 1224px;
    top: -30px;
}

.element .overlap-group {
    position: relative;
    height: 1052px;
    top: -28px;
}

.element .components-for-page {
    position: absolute;
    width: 976px;
    height: 1016px;
    top: 34px;
    left: 0;
    object-fit: cover;
    top: -30px;
}

.element .sign-up {
    position: absolute;
    width: 864px;
    height: 1024px;
    top: 0;
    left: 0;
}

.element .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    position: relative;
    top: 173px;
    left: 144px;
}

.element .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.element .div {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.element .link-text {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 8px 8px 0px;
    position: relative;
    flex: 0 0 auto;
}

.element .by-creating-an {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.element .span {
    color: #000000b2;
}

.element .text-wrapper-2 {
    color: #f075e1;
    text-decoration: underline;
}

.element .text-wrapper-3 {
    color: #000000b2;
    text-decoration: underline;
}

.element .text-field {
    display: flex;
    flex-direction: column;
    width: 576px;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.element .frame-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 27px;
}

.element .label {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    background: transparent;
    border: none;
    padding: 0;
}

.element .text-field-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 56px;
    border-radius: 12px;
    border: 1px solid;
    border-color: #00000059;
}

.element .label-2 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.element .button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: 576px;
    height: 56px;
    background-color: #5e81f4;
    border-radius: 40px;
    overflow: hidden;
}

.element .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    top: 14px;
    left: 252px;
}

.element .sign-up-2 {
    position: relative;
    width: fit-content;
    margin-top: 0px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    top: -13px;
}

.element .have-an-account {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 2px;
    position: relative;
    flex: 0 0 auto;
}

.element .already-have-an {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.element .illustration-and {
    position: absolute;
    width: 605px;
    height: 1024px;
    top: 28px;
    left: 907px;
    background-color: #f5f5f5;
}

.element .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
    position: relative;
    top: 137px;
    left: 128px;
}

.element .moneyverse-home {
    position: relative;
    width: 347.83px;
    height: 242px;
}

.element .frame-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.element .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000e6;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.element .frame-6 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.element .bullet-point {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 8px 8px 0px;
    position: relative;
    flex: 0 0 auto;
}

.element .ellipse {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: #000000e6;
    border-radius: 4px;
}

.element .one-lowercase {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000e6;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}



.element .input-field {
    width: 100%;
    height: 56px;
    border-radius: 12px;
    border: 1px solid #00000059;
    padding-left: 10px;
    font-size: 16px;
    font-family: "Poppins-Regular", Helvetica;
    color: #000000;
    box-sizing: border-box;
    outline: none;
    margin-top: -1px;
    opacity: 80%;

}

.element .input-field::placeholder {
    color: #999;
    /* Style for placeholder text */
}

.element .label-222 {
    position: absolute;
    top: -20px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 15px;
}


#id_email {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 56px;
    border-radius: 12px;
    border: 1px solid #00000059;
    padding: 10px;
    box-sizing: border-box;
}

#id_password1 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 56px;
    border-radius: 12px;
    border: 1px solid #00000059;
    padding: 10px;
    box-sizing: border-box;
}