<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../AtlantaFoodFinder/static/globals.css" />
    <link rel="stylesheet" href="../AtlantaFoodFinder/static/passwordreset.css" />
</head>

<body>
    <div class="element">
        <div class="sign-up-wrapper">
            <div class="sign-up">
                <div class="frame">
                    <div class="text-wrapper">Request Password Reset</div>
                    <div class="div">
                        <div class="text-field">
                            <div class="label">Email</div> <!-- Label stays as text -->
                        </div>
                        <div class="text-field-2">
                            <input class="input-field" id="email" placeholder="Enter your email" type="email" />
                            <!-- Input below the label -->
                        </div>
                    </div> <button class="button">
                        <div class="frame-3">
                            <div class="sign-up-2">Request</div>
                        </div>
                    </button>
                </div>
                <div class="have-an-account">
                    <p class="already-have-an">New Here? Create an Account</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{% static '/passwordreset.js' %}"></script>
</body>

</html>