<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../AtlantaFoodFinder/static/globals.css" />
    <link rel="stylesheet" href="../AtlantaFoodFinder/static/test.css" />
</head>

<body>
    <div class="selection-card2">
        <div class="new-select">Add to:</div>

        <!-- Favorite Frame - cannot be deleted -->
        <div class="favoriteframe">
            <div class="type">Favorite</div>
            <img class="generalline" src="img/generalline.svg" />
            <img class="vector" src="img/vector.svg" />
        </div>

        <!-- Folder 1 (initially present) -->
        <div class="folder-item" data-folder="Folder 1">
            <div class="div">
                <div class="text-wrapper">Folder 1</div>
                <div class="type-2 delete-folder">Delete</div>
                <img class="img" src="img/generalline-2.svg" />
                <img class="sky-blue" src="../AtlantaFoodFinder/static/img/sky-blue.svg" />
            </div>
        </div>
    </div>

</body>
<script src="../AtlantaFoodFinder/static/test.js"></script>

</html>